In [55]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [56]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [64]:
city_data = []

In [59]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [60]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [61]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [65]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=c7f9d97ca07a5a891b787e95460a9a25

In [66]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

613

In [67]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [ ]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

#Create a varuable url
#url="http://api.openweathermap.org/data/2.5/weather"

# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]
    
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")
print("")

Beginning Data Retrieval
-----------------------------

In [54]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Upernavik,72.7868,-56.1549,-13.40,72,100,5.26,GL,2022-02-02 04:15:52
1,Busselton,-33.6500,115.3333,85.05,33,37,11.01,AU,2022-02-02 04:15:35
2,Vila Franca Do Campo,37.7167,-25.4333,56.19,80,90,10.18,PT,2022-02-02 04:14:45
3,Cherskiy,68.7500,161.3000,9.68,67,100,4.92,RU,2022-02-02 04:15:53
4,Ndola,-12.9587,28.6366,60.03,98,96,3.96,ZM,2022-02-02 04:15:53
5,Cerrito,6.8432,-72.6940,51.19,85,73,3.27,CO,2022-02-02 04:11:07
6,Hithadhoo,-0.6000,73.0833,82.81,70,9,10.85,MV,2022-02-02 04:12:06
7,Ushuaia,-54.8000,-68.3000,42.46,70,75,32.21,AR,2022-02-02 04:14:31
8,San Quintin,30.4833,-115.9500,58.66,67,66,8.75,MX,2022-02-02 04:15:54
9,Eyl,7.9803,49.8164,74.43,81,83,14.54,SO,2022-02-02 04:15:54

In [ ]:
new_column_order=["colum1","colum8","colum9","colum2","colum3","colum4","colum5","colum6","colum7"]

In [ ]:
city_data_df=pd_dataFrame[new_colum_order]
city_data_df.head(10)

In [ ]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")